<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class= "navbar-inverse">
      <%= link_to 'primera',pages_one_path %>
      <%= link_to 'segunda',pages_two_path %>
      <%= link_to 'tercera',pages_three_path %>
    </ul>
    <%= yield %>
  </body>
</html>
